body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif; 
    font-weight: bold;
    color: #40514e;
}

p {
    font-size: 20px;
    line-height: 2;
}

h1 {
    margin: 50px auto 50px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #fca27edf;
}

h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem;
    color: #ffa365ec;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #e47b51;
    line-height: 3;
}

hr {
    border-color: #ced8d8;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    height: 0px;
    width: 4%;
}

.top-container {
    position: relative;
    background-color: #ffab7367; 
    padding: 20px;
    margin-bottom: 50px;
}

.skills {
    margin-top: 50px;
    padding: 40px auto 40px auto;
    padding: 2%;
} 
.skill-row {
    padding: 100px auto 100px auto;
    height: 230px;
    padding: 2%;
    margin-bottom: 50px ;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

.skill-row-2 {
    margin-top: 6%;
    margin-bottom: 6%;
}

.center {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 20px;
    padding-bottom: 0;
}

.hobbies {
    padding-top: 7%;
}

.image {
    margin: 50px auto 50px auto;
} 

.keyboard {
    width: 5%;
    float: bottom;
    position: relative;
    bottom: 30px; 
}

.footer-link {
    color: #11999E;
    padding: 25px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: rgb(6, 123, 158);
    text-decoration: none;
}

.codecamp-link {
    color: #11999E;
    font-size: 85%;
    text-decoration: none;
}

.udemy-link {
    color: #11999E;
    font-size: 85%;
    text-decoration: none;    
}

.btn {
    color: #11999E;
}

.text-color {
    font-size: 25px;
    color: #40514e; 
    margin: 70px auto 100px auto;
}

.bottom-container {
    background-color: #63bfc2dc;
    padding: 30px;
}

.challenge {
    color: #11999E;
}

.contact-me {
    margin: 90px auto 90px auto;
}
.copyright {
    color: #eaf6f6;
    padding-top: 30px;
    font-size: 12px;
    font-weight: normal;
}

.BUTTON_PTA {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 33px;
    line-height: 33px;
    color: #FFFFFF;
    font-family: Verdana;
    width: 194px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    background-color: #4CBCD4;
    -webkit-box-shadow: 1px 1px 6px 0 #000000;
    -moz-box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 1px 1px 6px 0 #000000;
    text-shadow: 1px 0 9px #000000;
    border: solid #60AAE4 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .myButton {
	box-shadow: 0px 0px 0px 2px #5e9fbd;
	background:linear-gradient(to bottom, #559dbe 5%, #476e9e 100%);
	background-color:#5fb4c4;
	border-radius:10px;
	border:1px solid #6e86a5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:19px;
	padding:12px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.myButton:hover {
	background:linear-gradient(to bottom, #4cb5df 5%, #4bcdd6 100%);
	background-color:#47989e;
}

.myButton:active {
	position:relative;
	top:1px;
}
